.form_control {
    display: flex;
    margin-bottom: 1em;
    margin-top: 1em;
}

.form_control label {
    margin-bottom: .6em;
    font-weight: bold;
    padding: 0.5em;
}

.form_control input {
    padding: .7em;
    border-radius: 0;
    border: none;
}

.form_control input::placeholder {
    color: #7b7b7b;
}