.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;
}

.home_container h1 {
    font-size: 2.5 em;
    margin-bottom: 0.5 em;
}

.home_container h1 span {
    color: #FFF;
    padding: 0 .2em;
    background-color: #24134E;
}

.home_container p{
    margin-bottom: 1.5em;
    color: black;
}